{% extends 'layout.html' %}

{% block content %}
<!--<video src = 'static/snow.mp4' muted loop autoplay style = "position:absolute; width:100%; height:100;object-fit:cover;z-index:-1;"></video>
-->
<div class="list-group" style="margin-left:50px;margin-right:100px;">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Personal Data</h5>
    </div>
    <p class="mb-1">Living in Romania, City: Sebes, State: Alba</p>
    <p class="mb-1">Born:04 October</p>
    <p class="mb-1">Driver's Licence</p>
      <small>email: popagl17@gmail.com</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hobby</h5>
    </div>
    <p class="mb-1">Chess, IT, History, sport, Krav Maga self defense, mountain climbing, downhill bicycle, passionate about Forex & Trade Market's</p>
    <small class="text-muted">Love Via Ferrata and Ski.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Education & Skills</h5>
    </div>
    <p class="mb-1">Highschool: Lucian Blaga Highschool, specialized: computer science *** College: 1 December 1918 Alba Iulia, specialization: Economy, Commerce</p>
      <p class="mb-1"> Foreighn language: english *** task oriented, analitical thinking, leadership experience</p>
      <p class="mb-1"> Linux(basic), html, css, Javascript(basic), SQL, computer hardware </p>
    <small class="text-muted">Learning Python (flask, pandas, etc)</small>
  </a>
</div>

{% endblock %}